@font-face {
    font-family: "Hobo Std";
    src: url(../assets/HoboStd.woff) format('woff');
}
body{
    background: #FFFFEC;
    padding-left: 70px;
    padding-right: 70px;
    overflow-x: hidden;
}
h1,h2,h3,h4{
    font-family: "Hobo Std";
    letter-spacing: 0.05em;
    color: #8C8C8C;
    line-height: 150%;
}
p,li,a{
    font-family: "Nunito";
    line-height: 150%;
    font-size: 18px;
    color: #8C8C8C;
    letter-spacing: 0.05em;
}
a{
    text-decoration: none;
}
section#hero nav{
    
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    justify-content: space-between;
}
section#hero nav ul{
    display: flex;
    /* border: 1px solid black; */
    height: fit-content;
    width: 45%;
    align-items: center;
    justify-content: space-between;
}
section#hero nav ul li{
    list-style: none;
}
section#hero nav ul li:nth-child(1){
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
}
section#hero nav ul li:nth-child(1) img{
    margin-left: 5px;
}
section#hero nav ul li p{
    font-size: 18px;
    font-weight: 600;
}
section#hero nav ul li button{
    font-size: 18px;
    padding: 15px 35px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: white;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    background: linear-gradient(282.86deg, #FF537C -27.78%, #FFB0C3 136.7%);
}
section#hero nav ul li button:active{
    opacity: 0.7;
}
section#hero .hero-content{
    margin-top: 40px;
    display: flex;
    width: 100%;
}
section#hero .hero-content .hero-heading{
    /* border: 1px solid black; */
    width: 50%;
}
section#hero .hero-content .hero-heading h1{
    font-size: 45px;
}
section#hero .hero-content .hero-heading h1 span{
    color: #2DB9F5;
}
section#hero .hero-content .hero-heading p{
    font-size: 20px;
    width: 60%;
}
section#hero .hero-content .hero-heading button{
    padding: 20px 40px;
    background: linear-gradient(282.86deg, #FF537C -27.78%, #FFB0C3 136.7%);
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 25px 0px #FF92AC;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
}
section#hero .hero-content .hero-heading button:hover{
    transform: scale(1.05);
}
section#hero .hero-content .hero-heading button:active{
    transition: 0;
    opacity: 0.5;
}
section#hero .hero-content .hero-heading .moose-supported{
    display: flex;
    /* border: 1px solid black; */
    width: 530px;
    justify-content: space-between;
}
section#hero .hero-content .hero-heading .moose-supported img{
    /* border: 1px solid black; */
    transform: scale(0.85);
    margin-left: -30px;
}
section#hero .hero-content .hero-illustration{
    /* border: 1px solid black; */
    width: 50%;
    position: relative;
}
section#hero .hero-content .illustration-wrap{
    position: relative;
    width: fit-content;
}
section#hero .hero-content .hero-illustration img{
    margin-top: -35px;
    margin-left: -10px;
    transform: scale(0.9);
    /* border: 1px solid black; */
}
section#hero .hero-content .hero-illustration .stat{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 25px;
    justify-content: space-between;
    width: 420px;
    border-radius: 25px;
    position: absolute;
    bottom: 80px;
    right: 125px;
    height: 140px;
    background-color: white;
    border: 10px solid rgba(255, 176, 195, 0.46);
    box-shadow: 0px 15px 25px 0px #FF537C40;
    transition: 0.3s;
}
section#hero .hero-content .hero-illustration .stat:hover{
    transform: scale(1.03);
}
section#hero .hero-content .hero-illustration .stat img{
    margin: 35px;
}
section#hero .hero-content .hero-illustration .stat h3{
    color: #FF537C;
    text-align: center;
    margin: 0;
    margin-top: 15px;
    font-size: 32px;
}
section#hero .hero-content .hero-illustration .stat p{
    margin-top: 15px;
    font-size: 18px;
}
section#moose-overview{
    margin-top: 150px;
}
section#moose-overview .definition{
    display: flex;
}
section#moose-overview .definition h2{
    flex: 1.15;
    font-size: 40px;
    letter-spacing: 0.05em;
}
section#moose-overview .definition p{
    flex: 1.25;
}
section#moose-overview .feature{
    margin-top: 80px;
    position: relative;
}
section#moose-overview .feature .pink-land{
    position: relative;
    width: 100%;
    margin-top: 250px;
    height: 300px;
    background-color: #FFB0C3;
    border-radius: 0px 0px 40px 40px;
    box-sizing: border-box;
    padding: 0 60px;

}
section#moose-overview .feature .card-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
    bottom: 70%;
}
section#moose-overview .feature .card-container .card{
    width: 320px;
    height: 420px;
    box-sizing: border-box;
    padding: 25px 15px 25px 25px;
    border-radius: 15px;
    border: 20px solid #FFFFEC;
}
section#moose-overview .feature .card h3,section#moose-overview .feature .card-container .card p{
    color: white;
}
section#moose-overview .feature .card-container .card.pink{
    background: linear-gradient(180deg, #FFBDCD 5.56%, #FF95AF 54.75%, #FF7294 100%);
}
section#moose-overview .feature .card-container .card.blue{
    background: linear-gradient(180deg, #CAEFFF 7.58%, #6AA2E3 91.61%);
}
section#moose-overview .feature .card-container .card.green{
    background: linear-gradient(180deg, #B7FFBE 6.44%, #81BF87 93.67%);
}
section#moose-overview .feature .card-container .card h3{
    font-size: 26px;
    letter-spacing: 0.1em;
    line-height: 150%;
}
section#apps{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    align-items: center;
}

section#apps div.apps-logo{
    display: flex;
    flex-wrap: wrap;
    width: 45%;
}
section#apps div.apps-logo img{
    transform: scale(0.95);
    margin-right: 50px;
    margin-bottom: 50px;
}
section#apps div.apps-monitored{
    width: 40%;
}
section#apps div.apps-monitored h2{
    font-size: 40px;
    margin-top: 0;
    letter-spacing: 0.05em;
}
section#apps div.apps-monitored button{
    padding: 20px 40px;
    background: linear-gradient(282.86deg, #FF537C -27.78%, #FFB0C3 136.7%);
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 25px 0px #FF92AC;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
}
section#apps div.apps-monitored button:hover{
    transform: scale(1.05);
}
section#apps div.apps-monitored button:active{
    opacity: 0.5;
}
section#apps div.apps-monitored button p{
    letter-spacing: 0.05em;
}
section#moose-works{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
    text-align: center;
}
section#moose-works h2{
    font-size: 40px;
    letter-spacing: 0.05em;
}
section#moose-works p{
    margin-top: 0;
}
section#pricing-plan h2{
    font-size: 40px;
}
section#pricing-plan .card-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
section#pricing-plan .card-container .card{
    width: 320px;
    height: 475px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 30px 30px;
    border-radius: 15px;
    border: 2px solid #8C8C8C;
    transition: 0.3s;
}
section#pricing-plan .card-container .card:hover{
    transform: scale(1.03);
}
section#pricing-plan .card-container .card p{
    font-size: 24px;
    color: #FF537C;
    font-weight: 600;
}
section#pricing-plan .card-container .card h3{
    font-size: 26px;
}
section#pricing-plan .card-container .card button{
    font-size: 18px;
    padding: 20px 35px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: white;
    cursor: pointer;
    width: 100%;
    border-radius: 15px;
    border: none;
    background: linear-gradient(282.86deg, #FF537C -27.78%, #FFB0C3 136.7%);
    box-shadow: 0px 0px 25px 0px #FF92AC;
}
section#pricing-plan .card-container .card button:active{
    opacity: 0.7;
}
section#faq{
    padding-top: 150px;
    display: flex;
    margin-bottom: 150px;
}
section#faq div.desc,section#faq div.question-answer{
    flex: 1;
} 
section#faq div.desc h2{
    font-size: 40px;
    margin: 0;
}
section#faq div.desc p{
    width: 80%;
}
section#faq div.desc img{
    transform: scale(0.9);
    position: relative;
    left: -27px;
}
section#faq div.question-answer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
}

section#faq div.question-answer div.toggle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    /* border: 1px solid black; */
}
section#faq div.question-answer div.toggle img{
    cursor: pointer;
}
section#faq div.question-answer div.toggle img:active{
    opacity: 0.75s;
}
section#faq div.question-answer div.toggle div.indicator-container{
    display: flex;
}
section#faq div.question-answer div.toggle div.indicator-container div{
    width: 15px;
    height: 15px;
    margin: 0 5px;
    background-color: #8C8C8C80;
    border-radius: 50%;
}

section#faq div.question-answer div.toggle div.indicator-container div.toggle-selected{
    background-color: #FF537C;   
}
section#faq div.question-answer .question{
    flex: 1;
    box-sizing: border-box;
    overflow-x: hidden;
    padding-top: 30px;
    width: 100%;
    /* border: 1px solid red; */
}
section#faq div.question-answer .question .question-container{
    display: flex;
    width: 400%;
    transition: 1s;
}
section#faq div.question-answer .question .question-sec{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
section#faq div.question-answer .question .question-bar{
    padding: 10px;
    border: 2px solid #8C8C8C;
    border-radius: 8px;
    margin-bottom: 25px;
    width: 85%;
    cursor: pointer;
}
section#faq div.question-answer .question .question-bar .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}
section#faq div.question-answer .question .question-bar .title img{
    /* border: 1px solid black; */
    height: fit-content;
}
section#faq div.question-answer .question .question-bar .title p{
    /* border: 1px solid black; */
    margin: 0;
}
section#faq div.question-answer .question .question-bar .description{
    font-size: 16px;
    display: none;
}
section#faq div.question-answer .question .question-bar.active  .description{
    display: block;
}
section#faq div.question-answer .question .question-bar.active .dropdown{
    transform: rotate(180deg);
}
hr{
    position: absolute;
    width: 100%;
    right:0;
    left: 0;
}
footer{
    margin-top: 225px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
footer h3{
    font-size: 32px;
}
footer h4{
    font-size: 24px;
}
footer div.col{

}
footer div.col h3, footer div.col h4{
    margin-top: 0;
}
footer div.col.brand{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}
footer div.col.navigation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer div.col.navigation h4{
    margin-bottom: 0;
}
footer div.col.social-media .row{
    margin-bottom: 25px;
}
footer div.col.social-media .row img:nth-child(1){
    margin-right: 25px;
}
/*
  Player Skin Designer for Video.js
  http://videojs.com

  To customize the player skin edit 
  the CSS below. Click "details" 
  below to add comments or questions.
  This file uses some SCSS. Learn more  
  at http://sass-lang.com/guide)

  This designer can be linked to at:
  https://codepen.io/heff/pen/EarCt/left/?editors=010
*/

.video-js {
        /* The base font size controls the size of everything, not just text.
       All dimensions use em-based sizes so that the scale along with the font size.
       Try increasing it to 15px and see what happens. */
    font-size: 10px;
    border-radius: 20px;
    border: 12px solid #ff537c;
    /* The main font color changes the ICON COLORS as well as the text */
    color: #fff;
  }
  
  /* The "Big Play Button" is the play button that shows before the video plays.
     To center it set the align values to center and middle. The typical location
     of the button is the center, but there is trend towards moving it to a corner
     where it gets out of the way of valuable content in the poster image.*/
  .vjs-default-skin .vjs-big-play-button {
    /* The font size is what makes the big play button...big. 
       All width/height values use ems, which are a multiple of the font size.
       If the .video-js font-size is 10px, then 3em equals 30px.*/
    font-size: 3em;
  
    /* We're using SCSS vars here because the values are used in multiple places.
       Now that font size is set, the following em values will be a multiple of the
       new font size. If the font-size is 3em (30px), then setting any of
       the following values to 3em would equal 30px. 3 * font-size. */
  
  
    line-height: 1.7em;
    height: 2em;
    width: 2em;
    background-color: #ff537c;
    background-color: rgba(#ff537c, 0.7);
    /* 0.06666em = 2px default */
    border: 5px solid white;
    /* 0.3em = 9px default */
    border-radius: 50%;
  }
  
  /* The default color of control backgrounds is mostly black but with a little
     bit of blue so it can still be seen on all-black video frames, which are common. */
  .video-js .vjs-control-bar,
  .video-js .vjs-menu-button .vjs-menu-content {
    /* IE8 - has no alpha support */
    background-color: #ff537c;
    /* Opacity: 1.0 = 100%, 0.0 = 0% */
    border-radius: 0;
    background-color: rgba(#ff537c, 0.7);
  }
  
  /* Slider - used for Volume bar and Progress bar */
  .video-js .vjs-slider {
    background-color: lighten(#ff537c, 33%);
    background-color: rgba(lighten(#ff537c, 33%), 0.5);
  }
  
  /* The slider bar color is used for the progress bar and the volume bar
     (the first two can be removed after a fix that's coming) */
  .video-js .vjs-volume-level,
  .video-js .vjs-play-progress,
  .video-js .vjs-slider-bar {
    background: #fff;
  }
  
  /* The main progress bar also has a bar that shows how much has been loaded. */
  .video-js .vjs-load-progress {
    /* For IE8 we'll lighten the color */
    background: lighten(lighten(#ff537c, 33%), 25%);
    /* Otherwise we'll rely on stacked opacities */
    background: rgba(lighten(#ff537c, 33%), 0.5);
  }
  
  /* The load progress bar also has internal divs that represent
     smaller disconnected loaded time ranges */
  .video-js .vjs-load-progress div {
    /* For IE8 we'll lighten the color */
    background: lighten(lighten(#ff537c, 33%), 50%);
    /* Otherwise we'll rely on stacked opacities */
    background: rgba(lighten(#ff537c, 33%), 0.75);
  }